:root {
    /* Letter feedback */
    --green: #6aaa64;
    --yellow: #c9b458;
    --gray: #787c7e;

    --blue-button: ;
    --green-button: ;
    --red-error: #C0392B;

    --dark-elements: #333;
}
/* General styles */
html {
    line-height: 1.5;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    max-width: 800px;
    box-sizing: border-box;
}

nav {
    background-color: var(--dark-elements);
    overflow: hidden;
    text-align: center;
    padding: 8px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #575757;
}

.container {
    text-align: center;

}

#game {
    border: 1px solid;
    display: inline-block;
    margin-bottom: 20px;
}

/* Game styles */
.letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
}

.green {
    background-color: var(--green);
    color: white;
}

.yellow {
    background-color: var(--yellow);
    color: white;
}

.gray {
    background-color: var(--gray);
    color: white;
}

.error {
    color: var(--red-error);
}

/* Form styles */
form {
    padding: 20px;
}

.button, .submit {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button {
    background-color: #007BFF;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #004085;
}

.submit {
    background-color: #28a745;
    padding: 4px 8px;
    font-size: 14px;
}

.submit:hover {
    background-color: #218838;
}

input[type="submit"]:disabled {
    background-color: #ddd;
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
}

footer {
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
    .button, .submit {
        font-size: 14px;
    }
}
